/* Main styles */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&Roboto:300');

/* Variables */

:root {
	--color-start: rgb(0, 173, 124);
	--color-win: #52d681;
	--color-win-light: #b5ff7d;
	--color-lose: #c81912;
	--color-lose-light: #fdba9a;
	--color-neutral: #445069;
	--color-neutral-dark: #303f58;
	--color-neutral-light: #e9e9e9;
	--font-size-large: 60px;
	--font-size-medium: 22px;
	--transition: all .2s ease-in-out;
}

/* main */

* {
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

body {
	justify-content: space-evenly;
	flex-direction: column;
	display: flex;
	height: 100vh;
}

li,
ol,
ul {
	padding: 0;
	display: inline-block;
}

h2 {
	margin: 0;
	text-transform: uppercase;
	font-size: var(--font-size-large);
	margin: 0;
}

h1 {
	font-size: 30px;
}

button {
	margin: 6px;
	border: 1px solid transparent;
	padding: .5rem 1rem;
	color: var(--color-neutral-dark);
	font-size: var(--font-size-medium);
	background-color: var(--color-neutral-light);
	border-radius: 5px;
	-webkit-transition: var(--transition);
	-o-transition: var(--transition);
	transition: var(--transition);
	cursor: pointer;
}

#btn__reset {
	width: 200px;
	margin: 0 auto;
	background-color: #fff;
}

.main-container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 100%;
	max-height: 900px;
	text-align: center;
}

.section {
	width: 100%;
	padding: 10px;
}

#phrase ul li {
	margin-top: 15px;
}

/* Title */

.header {
	color: var(--color-neutral-dark);
}

/* Phrase */

.letter {
	font-size: var(--font-size-medium);
	height: 65px;
	width: 65px;
	padding: 20px 1px 0 1px;
	margin-right: 2px;
	color: transparent;
	background: var(--color-neutral-light);
	border-radius: 5px;
}

.space {
	width: 15px;
}

.show {
	color: #fff;
	background-color: #4ac0d5;
	font-size: 20px;
	height: 65px;
	width: 65px;
	padding: 20px 1px 0 1px;
	margin-right: 2px;
	border-radius: 5px;
	-webkit-animation-duration: .7s;
	animation-duration: .7s;
}

/* Keyboard */

.keyrow {
	display: flex;
	justify-content: center;
}

.key {
  width: 42px;
  padding-left: 0;
  padding-right: 0;
}

.chosen {
	background: var(--color-win);
	border-radius: 5px;
	font-size: var(--font-size-medium);
	color: #fff;
	animation: jello 0.5s;
}

.wrong {
	background: var(--color-lose);
	color: var(--color-neutral-light);
	animation: jello 0.5s;
}


/* Overlay */

#overlay {
	display: flex;
	flex-direction: column;
	position: fixed;
	color: #fff;
	justify-content: center;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border-radius: 5px;
}

.title {
	color: #fff;
}

.start {
	background-color: var(--color-start);
}

.start a {
	color: #fff;
}
/* rebelAlliance.png from nicepng.com and is free to use for personal non-commercial purposes */
.win {
	background-color: var(--color-win);
	background-image: url('../images/rebelAlliance.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 60vh;
	animation: fadeIn 1.5s;
}

.win a {
	color: var(--color-win);
}
/* deathstar.png from Treehouse course */
.lose {
	background-color: var(--color-lose-light);
	background-image: url('../images/deathstar.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 60vh;
	animation: wobble 1s;
	color: var(--color-neutral-dark)
}

#overlay.lose h1,
#overlay.lose h2,
#overlay.lose button {
	color: var(--color-lose);
}

#overlay.lose button {
	background: transparent;
	border: solid 1px var(--color-lose);
}
